* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.greetings-box {
    border-radius: 5px;
    width: 88%;
    float: right;
    text-align: center;
    padding: 4px;
    background-color: darkgrey;
    text-align: center;
    border: 2px solid black;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    float: left;
    width: 12%;
}

.sidebar > div {
    /* Display */
    width: 100%;
    text-align: center;
    font-size: 15px;
    height: 50px;

    /* Appearance */
    border: 1px solid black;    
    
}

.sidebar > div:hover {
    background-color: lightblue;
    cursor: pointer;
}

#cal-control {
    /* Display */
    width: 88%;
    height: 150px;

    /* Placement */
    float: right;

    /* Appearance */
    background-color: lightpink;
    border: 2px solid black;
}

#cal-content-area {
    /* Display */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    /* Placement */
    float: right;

    /* Appearance */
    width: 88%;
    height: 1000px;
    background-color: grey;
    border: 1px solid black;
}

#cal-content-area > div {
    width: 14.2857%;
    border: 1px dashed black;
    border-radius: 5px;
    padding: 10px;
    background-color: lightgrey;
    font-size: 20px;
}

#cal-content-area > div > div {
    width: 100%;
    border: 1px dotted black;
    border-radius: 2px;
    padding: 1px;
    background-color: lavender;
    font-size: 20px;
}

#cal-content-area > div > div:hover {
    background-color: violet;
    cursor: pointer;
}

#cal-content-area > div:hover {
    width: 14.2857%;
    border: 1px dashed black;
    border-radius: 5px;
    padding: 10px;
    background-color: lightblue;
    font-size: 20px;
}

#list-content-area {
    display: flex;
    flex-direction: column;
    float: right;
    width: 88%;
    background-color: grey;
    border: 1px solid black;    
}

.list-content-div {
    width: 100%;
    float: left;
    border: 1px dashed black;
    padding: 10px;
    background-color: lightgrey;
    font-size: 20px;
}

.list-content-div:hover {
    background-color: lightblue;
}

.delete_task {
    border-radius: 10px;
    width: 100px;
    float: right;
    text-align: center;
    border: 1px dashed black;
    padding: 10px;
    background-color: salmon;
}

.delete_task:hover {
    background-color: crimson;
    cursor: pointer;
}

.modify_task {
    border-radius: 10px;
    width: 100px;
    float: right;
    text-align: center;
    border: 1px dashed black;
    padding: 10px;
    background-color: cornflowerblue;
}

.modify_task:hover {
    background-color: blueviolet;
    cursor: pointer;
}

#addtask-content-area {
    display: flex;
    flex-direction: column;
    float: left;
    width: 88%;
    height: 1000px;
    background-color: grey;
    border: 1px solid black;
}

#addtask-content-area > div {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: lightgrey;
    font-size: 20px;
}

button {
    /* Placement */
    padding: 20px;
    margin: 4px 2px;

    /* Appearance */
    border: 1px solid black;
    color: white;
    width: 70px;
    border-radius: 60%;
    text-align: center;
    font-size: 16px;
    
    display: inline-block;
    cursor: pointer;
}

#button_addtask {
    background-color: plum;
}

#button_logout {
    background-color: tomato;
}

.cal_control_button {
    background-color: navy;
}



body {
    background-color: lavender;
}

