* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.greetings-box {
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 4px;
    background-color: darkgrey;
    text-align: center;
    border: 2px solid black;
}

.sidebar {
    display: flex;
    flex-direction: column;
    float: left;
    width: 20%;
    height: 800px;
    background-color: grey;
    border: 1px solid black;
}

.sidebar > div {
    width: 100%;
    border-radius: 10px;
    margin: 0 1px;
    border: 1px dashed black;
    padding: 10px;
    background-color: lightgrey;
    font-size: 20px;
    
}

.sidebar > div:hover {
    width: 100%;
    border-radius: 10px;
    margin: 0 1px;
    border: 1px dashed black;
    padding: 10px;
    background-color: lightblue;
    font-size: 20px;
}

.content-area {
    display: flex;
    flex-direction: column;
    float: left;
    width: 80%;
    height: 800px;
    background-color: grey;
    border: 1px solid black;
}

.content-area > div {
    width: 100%;
    border-radius: 10px;
    border: 1px dashed black;
    padding: 10px;
    background-color: lightgrey;
    font-size: 20px;
}

.button_addtask {
    /* Placement */
    position: relative;
    padding: 20px;
    margin: 4px 2px;

    /* Appearance */
    background-color: pink;
    border: 1px solid black;
    color: white;
    width: 70px;
    border-radius: 60%;
    text-align: center;
    font-size: 16px;
    
    display: inline-block;
    cursor: pointer;
}

body {
    background-color: lavender;
}

aside {
    vertical-align: middle;
    background-color: lightgrey;
    float: left;
    width: 45%;
    padding: 175px 10px;
    text-align: center;
}
